<p>reg works!</p>
<div class="p-16" fxLayout="column" fxLayoutAlign="start center" >
    <div class="mb-12">
        <span class="text-xl">Contact us with your skills</span>
    </div>


   
   
    
   



    <mat-form-field class="" appearance="fill">
        <mat-label>Name</mat-label>
        <Input defaultValue="Hello world" inputProps={ariaLabel} />
    </mat-form-field>

    <mat-form-field class="" appearance="fill">
        <Input placeholder="Placeholder" inputProps={ariaLabel} />
        <input matInput placeholder="Email">
    </mat-form-field>

    <mat-form-field class="" appearance="fill">
        <mat-label>Skill</mat-label>
        <Input defaultValue="Error" error inputProps={ariaLabel} />
    </mat-form-field>
    <mat-icon>add</mat-icon>
    <button mat-raised-button color="primary">Submit</button>

    

</div>